*~
*.swp
*.DS_Store*

/bin
/trash
/gen
/local.properties

/.apt_generated/
/.lint4jprefs
/lint.xml
/proguard/
/projectSet.psf

/obj/
/libs/mips/librtkgps.so
/libs/armeabi-v7a/librtkgps.so
/libs/armeabi/librtkgps.so
/libs/x86/librtkgps.so

/.gradle
/build



.README.md.html

.settings/org.eclipse.core.resources.prefs

custom_rules.xml

egm2008_se.geoid

my-release-key.keystore

src/gpsplus/rtkgps/geoportail/License.java

.crowdin-api-key

*.setup

libs/armeabi-v7a/gdbserver

libs/armeabi/gdbserver

libs/mips/gdbserver

libs/x86/gdbserver
